span{
    padding-left: 100px;
}

.navbar.text{
    color:#FFFFFF;
}

.btn-primary{
    background:linear-gradient(.25turn,#11242e,#0275d8 );
    outline:none;
    }

.bg-dark{
    
    background:linear-gradient(.25turn,#11242e,#626769 );
}

footer{
    color:#FFFFFF;
    text-align:center;
      
}