.caption{
    width: 200px;
    text-align: center
}

.jumbotron{
    background-color: #11242e71;
    background-image: url(/images/clipart.png);
    background-size: 100px 100px;
}

h1{
    font-weight: bold;

}