body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #11242ebe;
    background-image: url(/images/clipart.png);
    background-size: 100px 100px;
}

#register .container #register-row #register-column #register-box {
    margin-top: 120px;
    max-width: 600px;
    height: 450px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#register .container #register-row #register-column #register-box #register-form {
    padding: 20px;
}

#register .container #register-row #register-column #register-box #register-form #register-link {
    margin-top: -85px;
}

.error{
    color: #f39c12;
}